@CHARSET "UTF-8";

@import
	url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

fieldset {
	width: 400px;
	margin: 0 auto;
	margin-top: 8px;
	margin-bottom: 2%;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
}

h1 {
	background: #004A3E;
	padding: 20px 0; /*PADDING TODOS OS LADOS DE 20PX*/
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #ff8040;
}

form {
	background: #fffaca;
	padding: 6% 4%;
}

.user_name {
	width: 76%;
	height: 20px;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 4% 4% 4% 4%;
	font-family: 'Open Sans', sans-serif;
	font-size: 95%;
	color: #555;
}

.pass {
	width: 76%;
	height: 20px;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 4% 4% 4% 4%;
	font-family: 'Open Sans', sans-serif;
	font-size: 95%;
	color: #555;
}

.user_image {
	width: 20px;
	height: 20px;
	background-color: #004A3E;
	float: left;
	padding: 4% 4% 4% 4%;
	margin-bottom: 4%;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #ccc;
}

.pass_image {
	width: 20px;
	height: 20px;
	background-color: #004A3E;
	float: left;
	padding: 4% 4% 4% 4%;
	margin-bottom: 4%;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #ccc;
}


.btn {clear:both;
	width: 400px;
	height:20%;
	background: #004A3E;
	border: 0;
	padding: 4%;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	color: #fff;
	cursor: pointer;
	transition: background .3s;
	-webkit-transition: background .3s;
}

.enterbtn {
	    float: right;
	    margin: -9px 0 0 0;
}

.btn :hover {
	background: #53B9A8;
}

::-webkit-input-placeholder {

}